
/*body{*/
/*  background: url("https://w-dog.ru/wallpapers/1/73/298438981564223/planeta-art-pejzazh-kosmos.jpg");*/
/*}*/

/*.toDoList {*/
/* margin: 0 auto;*/
/*}*/

.error {
  border: red 2px solid;
}

.errorMessage{
  margin-top: 3px;
  color: white;
  background-color: red;
  border-radius: 2px;
  width:168px;
}

.activeFilter {
  background-color: dodgerblue;
}

button {
  border-radius: 10px;
}


ul {
  list-style-type: none;
  margin: 10px 0 10px 0;
  padding: 0;
}


.listTitle {
  cursor: pointer;
}
.isDone {
  opacity: 0.3;
}

.editModeInput {
  outline: none;
}
